* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
}

label {
  width: 100%;
}
label input {
  width: 100%;
  height: 35px;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid rgb(178, 178, 178);
  font-size: 16px;
  outline: none;
}
label input::-moz-placeholder {
  font-size: 13px;
  color: rgb(178, 178, 178);
}
label input::placeholder {
  font-size: 13px;
  color: rgb(178, 178, 178);
}
label input:hover {
  outline: 1px solid rgb(80, 80, 80);
}
label select {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 35px;
  padding: 10px;
  border: 1px solid rgb(178, 178, 178);
}

button {
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(167, 167, 167);
  outline: none;
  cursor: pointer;
  color: gray;
}

#add {
  margin: 30px 0px 10px 0px;
  color: black;
  padding: 8px 20px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 50px;
  gap: 50px;
}
.main-container #output {
  width: 700px;
  padding: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 0px 0px 10px 1px rgb(178, 178, 178);
  overflow: hidden;
}
.main-container .student-container {
  width: 700px;
  padding: 20px;
  box-shadow: 0px 0px 10px 1px rgb(178, 178, 178);
  overflow: hidden;
}
.main-container .student-container .student-profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.main-container .student-container .student-profile-info:not(h2) {
  align-items: flex-start;
}
.main-container .student-container .primary-and-technologies {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
}
.main-container .student-container .primary-and-technologies .primary-technologies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .student-container .primary-and-technologies .primary-technologies .primary {
  width: 80%;
  box-shadow: 0px 0px 10px 1px rgb(178, 178, 178);
  border-radius: 5px;
  padding: 30px 10px;
}
.main-container .student-container .links {
  width: 100%;
  box-shadow: 0px 0px 10px 1px rgb(178, 178, 178);
  padding: 20px;
  border-radius: 5px;
}
.main-container .student-container .your-projects {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
}
.main-container .student-container .your-projects .name-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .student-container .your-projects .name-links-container .name-links {
  width: 80%;
  box-shadow: 0px 0px 10px 1px rgb(178, 178, 178);
  border-radius: 5px;
  padding: 30px 10px;
}
.main-container .student-container .pc-int-question {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.main-container .student-container .pc-int-question #question {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}
.main-container .student-container .pc-int-question p {
  font-size: 18px;
}
.main-container .student-container #submit {
  width: 100%;
  color: white;
  background-color: rgb(0, 0, 163);
  padding: 12px 0px;
}/*# sourceMappingURL=style.css.map */