*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
html{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    width: 100%;
    position: relative;
}
body{
    background-color: #555;
    height: 100%;
}
#menu{
    height: 40px;
    width: 700px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
#menu a{
    display: block;
    text-decoration: none;
    font-size: 13pt;
    color: black;
}
#menu a:hover{
    background-color: red;
    color: white;
}
#menu ul{
    list-style: none;
}
#menu li{
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background-color: orange;
}
#menu ul ul li{
    position: relative;
    display: none;
    animation: 0.5s navainamtion;
}
#menu ul li:hover li{
    display: block;
}
#menu ul ul ul{
    display: none;
}
#menu ul ul li:hover ul{
    display: block;
    top: 0px;
    height: 40px;
    width: 140px;
    left: 140px;
    position: absolute;
}
.moon img{
    position: absolute;
    right: -270px;
    top: -280px;
    animation: 60s rotation, infinite, linear;
}


/*animation*/

@keyframes navainamtion{
    0%{
        opacity: 0;
        top: 5px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*NEWS*/

.news{
    width: 400px;
    text-align: center;
    margin-top: 400px;
    margin-left: 180px;
}
.news h1{
    padding: 10px;
}
.news p{
    padding: 10px;
}

.wrapper .news{
    float: left;
}


#cont{
    position: absolute;
    border: 1px solid black;
    width: 700px;
    height: 150px;
    margin-top: 120px;
    margin-left: 320px;
}
.card{
    width: 700px;
    height: 150px;
}