/* .box {
    --size: 50px;
    --p: 25px;
    --R: 55.9px;
    
    height: 200px;
    margin: 5px;
    border: 1px solid;
    
     background:
      radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)),blue 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100% no-repeat,
      radial-gradient(var(--R) at 50% calc(-1*var(--p)),#0000 99%,red 101%) 50% var(--size)/calc(4*var(--size)) 100% no-repeat;
  }
  .box + .box {
    background-repeat: repeat-x;
  }
  .box.mask {
    -webkit-mask:
      radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)),blue 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
      radial-gradient(var(--R) at 50% calc(-1*var(--p)),#0000 99%,red 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    background:linear-gradient(90deg,red,blue);  
    border: none;
  }  */
body{
    background-color: black;
}
    /* .container{
        width: 334px;
        height: 236px;
        margin: 0 auto;
    }

  .cart{
    --size: 50px;
    --p: 25px;
    --R: 55.9px;

    height: 236px;
    -webkit-mask:
      radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)),blue 99%,#0000 101%) calc(120% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
      radial-gradient(var(--R) at 50% calc(-1*var(--p)),#0000 99%,red 101%) 120% var(--size)/calc(4*var(--size)) 100% repeat-x;
    background:linear-gradient(90deg,red,blue);  
    border: none;
  } */

  .box.mask {
    --size: 50px;
    --p: 25px;
    --R: 55.9px;
    
    width: 334px;
    height: 237.44px;
    background: #fff;
    border-radius: 18.12px;
    margin: 150px auto;
    
    
      /* -webkit-mask: radial-gradient(
        var(--R) at 50% calc(var(--size) + var(--p)), blue 99%, #0000 101%
        ) calc(50% - var(--size)) 0 / calc(4 * var(--size)) 100%,
        radial-gradient(var(--R) at 50% calc(-1 * var(--p)), #0000 99%, red 101%)
        50% var(--size) / calc(5 * var(--size)) 100% repeat-x; */
        -webkit-mask:
      radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)),blue 99%,#0000 101%) calc(120% - 2*var(--size)) 0/calc(4*var(--size)) 100% repeat-y,
      radial-gradient(var(--R) at 50% calc(-1*var(--p)),#0000 99%,red 101%) 120% var(--size)/calc(4*var(--size)) 100% repeat-x;
      /* -webkit-mask-position: top center; */
      
  }
  